/* ---------- Extra SMALL SCREEN STYLES ---------- */
/* --------------- BEGIN Extra SMALL SCREEN SIZES --------------- */

@media only screen and (max-width: 599px) {
  header,
  footer {
    background-color: var(--blue);
    color: var(--black);
  }

  main {
    display: grid;
    grid-gap: 0.75em;
    grid-template-columns: 1fr 1fr;
    margin: 1em 0;
  }

  section {
    background-color: var(--lime-green);
    color: var(--black);
    margin: 0;
  }

  #one,
  #two,
  #seven,
  #eight {
    grid-column: 1/3;
  }

  img {
    width: 100%;
    max-width: 595px;
  }
}
/* --------------- END SMALL SCREEN SIZES --------------- */
