/* ---------- Extra SMALL SCREEN STYLES ---------- */
/* --------------- BEGIN Extra SMALL SCREEN SIZES --------------- */

@media only screen and (max-width: 599px) {
  header,
  footer {
    background-color: var(--pink);
    color: var(--white);
  }

  section {
    background-color: var(--red);
    color: var(--light-gray);
  }

  img {
    margin: 0.75em 0.75em 0.75em 0;
    display: inline;
    float: left;
  }
}
/* --------------- END SMALL SCREEN SIZES --------------- */
