/* ----- IMAGES ----- */
img {
  display: block;
  max-width: 100%;
  margin: 0.5em 0;
}

/* ----- ANIMATED ICON ----- */
/* Icon and animation code from https://typogram.github.io/Anicons/ */
.icon {
  font-family: "Anicons Regular";
  font-size: 2em;
  display: inline-block;
  margin: 0 0.5em;
  -webkit-animation: icon-animation 1s ease-in-out infinite;
  animation: icon-animation 1s ease-in-out infinite;
  overflow: visible;
}

footer .icon {
  font-size: 1em;
}

@-webkit-keyframes icon-animation {
  0% {
    font-variation-settings: "TIME" 1;
  }

  100% {
    font-variation-settings: "TIME" 100;
  }
}

@keyframes icon-animation {
  0% {
    font-variation-settings: "TIME" 1;
  }

  100% {
    font-variation-settings: "TIME" 100;
  }
}
