/* ---------- LARGE SCREEN STYLES ---------- */
/* --------------- BEGIN LARGE SCREEN SIZES --------------- */
@media only screen and (min-width: 889px) {
  header,
  footer {
    background-color: var(--lime-green);
    color: var(--dark-gray);
  }

  h1,
  h2 {
    display: inline-block;
  }

  section {
    background-color: var(--blue);
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #one,
  #seven {
    grid-column: 1/3;
  }

  #two {
    grid-row: 1/2;
  }

  #two,
  #eight {
    grid-column: 3/5;
  }

  #seven,
  #eight {
    grid-row: 3/4;
  }
}
/* --------------- END LARGE SCREEN SIZES --------------- */
