/* ----- TEXT ----- */
p,
small {
  font-size: 1em;
  margin: 0.25em;
  padding: 0.25em;
  max-width: 75ch;
}

/* ----- MAIN/HEADER/FOOTER ----- */
main,
header,
footer {
  font-family: sans-serif;
  color: var(--dark-gray);
  width: 100%;
}

header,
footer {
  padding: 1em;
}

main {
  max-width: 1795px;
}

/* ----- CONTAINERS ----- */
section {
  margin: 1em 0;
  padding: 1em;
}
