/* ----- AUTOPREFIXER FOR VS CODE WAS USED FOR VENDOR PREFIXES ----- */
/* ---------- VARIABLES ---------- */
:root {
  --red: #760029;
  --pink: #9a0093;
  --orange: #ff8f6c;
  --yellow: #fcd30d;
  --green: #0bd996;
  --lime-green: #aed90b;
  --blue-gray: #90b8f7;
  --blue: #1eb8fc;
  --black: #000;
  --white: #fff;
  --light-gray: #eaeaea;
  --dark-gray: #222;
}
